* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --content-primary: #FFFFFF;
  --content-secondary: #C7C9CC;
  --content-tertiary: #D9D9D9;
  --content-brand: #C58DE7;
  --color-inverse: #030203;

  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222E;
  --background-brand: #C58DE7;
  --background-gray: #3D3D3D;

  --accent-pink: #D586E0;
  --accent-blue: #91A1FA;
  --accent-green: #77C0AF;
  --accent-lime: #D1DC97;
  --accent-red: #E9A9B3;

  --gradient-border: #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%;
  --gradient-background: #D586E0 0%, #91A1FA 98.93%;
  --gradient-content: linear-gradient(to right, #C7C9CC 0%, #3D3D3D 100%);
  
  --font-family: 'Sora', 'Roboto Mono', 'Roboto Flex', sans-serif;
  --display-large: 800 72px/130% var(--font-family);
  --display-medium: 800 40px/130% var(--font-family);
  --display-small: 600 32px/130% var(--font-family);
  --overline: 600 16px/150% var(--font-family);
  --text-uppercase: uppercase;

  --paragraph-large: 400 16px/150% var(--font-family);
  --paragraph-medium: 400 14px/150% var(--font-family);
  --paragraph-small: 400 12px/150% var(--font-family);
  --label-medium: 600 20px/150% var(--font-family);
  --label-small: 600 16px/150% var(--font-family);
}

html {
  background-color: var(--background-primary);
}
