.container {
  display: flex;
  gap: 10rem;
  min-height: 100vh;
  position: relative;
}

.container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 470px;
  background-image: url(../assets/images/background.png);
  opacity: 0.4; 
  z-index: -1;
}

.rightside {
  width: 482px;
  height: 344px;
  margin-left: 10rem;
  margin-top: 5.5rem;
  
  & h2 {
    font: var(--label-small);
    color: var(--content-primary);
    margin-bottom: 0.5rem;
  }

  & p {
    white-space: nowrap;
    font: var(--paragraph-small);
    color: var(--content-secondary);
  }
}

.numbers {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
  margin-left: .5rem;

  & p {
    font: var(--label-medium);
    color: var(--content-secondary);
  }
}

input[type="number"] {
  width: 7rem;
  height: 3.5rem;
  border: none;
  border-radius: .5rem;
  border: 2px solid transparent;
  outline: none;
  text-align: center;
  font: var(--display-small);
  color: var(--content-primary);
  background-color: var(--background-secondary);
}

input:hover, 
  input:focus {
    border: 2px solid transparent;
    background-image: 
    linear-gradient(var(--background-secondary), var(--background-secondary)),
    linear-gradient(90deg, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }

.fields {
  max-width: 5.5rem;
  justify-items: center;
}

input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: var(--content-primary);
    transition: 0.4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background: linear-gradient(90deg, #D586E0 0%, #91A1FA 98.93%);
  }

  input:checked + .slider:before {
    transform: translateX(10px);
  }

  .btn-switch {
    display: flex;
    margin-top: 2rem;
    gap: 1rem;

    & label {
      font: var(--label-small);
      color: var(--content-primary);
    }
  }

  .fields p {
    transition: color 0.3s;
  }

  .fields:focus-within p {
    color: var(--background-brand);
  }

  .btn-draw, .btn-redraw {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: 482px;
    height: 56px;
    margin-top: 2rem;
    background-color: var(--background-tertiary);
    justify-content: center;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    font: var(--label-medium);
    color: var(--content-primary);
  }

  .btn-draw:hover, .btn-redraw:hover {
    border: 2px solid transparent;
    background-image: 
    linear-gradient(var(--background-secondary), var(--background-secondary)),
    linear-gradient(90deg, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }

  .arrow {
    transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  .btn-draw:hover .arrow {
    transform: translateX(8px);
  }

  .topic-mobile {
    display: none;
  }

  .draw {
    display: flex;
    width: 482px;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    position: relative;
  }

  .draw1 {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: relative;
    text-align: center;

    & h2 {
    text-align: center;
    font: var(--paragrph-large);
    color: var(--content-secondary);
    }

    & p {
      text-align: center;
      font: var(--paragrph-large);
      color: var(--content-secondary);
    }
  }
 
  .draw2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 10px;
    transform-origin: center;
  }

  .imgbgdice {
    width: 80px;
    height: 80px;
    position: absolute;
  }
  
  .result {
    position: absolute;
    font: var(--display-small);
    transition: color 0.5s ease-in-out;
  }
  
  @keyframes spinIn {
    0% {
      transform: scale(0) rotate(0deg);
      opacity: 0;
    }
    50% {
      transform: scale(1.2) rotate(180deg);
      opacity: 1;
    }
    100% {
      transform: scale(1) rotate(360deg);
      opacity: 1;
    }
  }
  
  @keyframes rotateIcon {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .btn-redraw:hover .arrow {
    animation: rotateIcon 0.7s linear;
  }

  .draw2.animation-end .imgbgdice {
    display: none;
  }
  
  .draw2.animation-end .result {
    opacity: 1;
    color: var(--background-brand);
  }

  .draw-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  @media (max-width: 768px) {
    .container {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      margin-bottom: 5rem;
    }
    
    .rightside {
      margin-top: 2rem;
    }

    .topic-desktop {
      display: none;
    }
  
    .topic-mobile {
      display: block;
      width: auto;
    }

    .btn-draw, .btn-redraw {
      width: 319px;
    }
  }